@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: #e37b58;
  --bgSoft: #fdf7eb;
  --cardbg: #ffffff;
  --text: #3c4558;
  --textSoft: #c3c5ca;
  --sidebar: #ffffff;
  --sidebarSoft: #f6d3c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
