.container {
  margin-top: 20px;
  /* background-color: var(--softBg); */
  border-radius: 10px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.add-button {
  border-radius: 10px;
  padding: 10px;
  border: 0;
  background-color: var(--bg);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.page-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
}
.table {
  height: 400;
  width: "100%";
  background-color: var(--cardbg);
}

.loading {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
